<p>Quotes should be listed on this page</p>

<p>It should be something like this. For example:</p>

<% @quotes.each do |quote| %>
    <%= raw(quote.body) %>
  &mdash;
  <%= link_to quote.source.name, source_path(quote.source) %>
  <hr />
<% end %>

<%= paginate @quotes %>
